[submodule "verilator1/verilator"]
	path = verilator1/verilator
	url = https://github.com/verilator/verilator.git
[submodule "yosys-sta"]
	path = yosys-sta
	url = https://github.com/yosys-sta.git
[submodule "npc2"]
	path = npc2
	url = https://github.com/Ethan-KaKa/npc.git
